# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv/
env/
venv/
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore data folder
data/
*.csv
*.zip

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore Streamlit specific cache
.streamlit/

# Ignore logs
*.log
